.divCargando{
    margin: 15%;
}

.cargando{
    text-align: center;
}

.containerPokeEvo{
    display: flex;
    grid-template-columns: (1fr 6fr 1fr);
    align-items: center;
    margin: 12% 0 12% 0;
}

.cardPokemonEvo{
    width: 20%;
}

.cardPokeEvo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150%;
}

.titulo{
    text-align: center;
    margin: 2.5% 0 2.5% 0;
}

.divButton{
    background-color: orange;
    width: 15%;
    height: 5%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.divButton a{
    text-decoration: none;
    height: min-content;
}