/*media desktop*/
@media screen and (min-width: 992px){

    .containerNavBar{
        padding: 10px 0;
        width: 100%;
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 50px;
        z-index: 100;
    }

    .BotonNavBar{
        padding: 0px 20px 0px 20px;
    }

}

/*media celular*/
@media screen and (max-width: 991px ) {
    .BotonNavBar{
        margin: 0px 0 15px 0;
        text-align: center;
    }
}

body{
    overflow-x: hidden;
}

.containerNavBar{
    background-color: #0C356A;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 50px;
    z-index: 100;
}
.BotonNavBar{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.BotonNavBar:hover{
    color: #884a39;
}
