.containerPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FB9B51;
}

.cardPokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2% 0 2% 0;
}

.pokedexCard{
    display: grid;
    background: linear-gradient(to top, rgb(255, 255, 255)40%, #FFE88D 30%);
    border-radius: 20%;
    padding-bottom: 5%;
    overflow: hidden;
}

.pokeInfo{
    background-color: #3C2D23;
    color: #ffff;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokemonName, .pokemonId{
    font-family: 'Rubik Mono One', monospace;
}

.divImg{
    display: flex;
    justify-content: center;
}

.pokemonImg{
    width: 70%;
}

.pokedexStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr ) ;
    justify-self: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
}

.hp, .statsAtack, .statsDef, .statsAtackSp, .statsDefSp, .statsSpeed{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


.button1{
    padding: 600%;
    border-radius: 100%;
    border-color: #444b54;
    background-image: url('https://img.icons8.com/cotton/64/circled-left-2.png');
    background-position: center;
}

.button2{
    padding: 600%;
    border-radius: 100%;
    border-color: #444b54;
    background-image: url('https://img.icons8.com/cotton/64/circled-left-2.png');
    background-position: center;
    transform: rotate(180deg);
}
