.containerGeneration{
    text-align: center;
}

.containerCards{
    display: grid;
    grid-template-columns: (1fr 1fr 1fr 1fr 1fr);
}

.paginateButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}